#frontend
website/frontend/logs
website/frontend/*.log
website/frontend/npm-debug.log*
website/frontend/yarn-debug.log*
website/frontend/yarn-error.log*
website/frontend/pnpm-debug.log*
website/frontend/lerna-debug.log*
website/frontend/node_modules
website/frontend/dist
website/frontend/dist-ssr
website/frontend/*.local
website/frontend/# Editor directories and files
website/frontend/.vscode/*
website/frontend/!.vscode/extensions.json
website/frontend/.idea
website/frontend/.DS_Store
website/frontend/*.suo
website/frontend/*.ntvs*
website/frontend/*.njsproj
website/frontend/*.sln
website/frontend/*.sw?


#admin
# Logs
website/admin/logs
website/admin/*.log
website/admin/npm-debug.log*
website/admin/yarn-debug.log*
website/admin/yarn-error.log*
website/admin/pnpm-debug.log*
website/admin/lerna-debug.log*
website/admin/node_modules
website/admin/dist
website/admin/dist-ssr
website/admin/*.local
website/admin/# Editor directories and files
website/admin/.vscode/*
website/admin/!.vscode/extensions.json
website/admin/.idea
website/admin/.DS_Store
website/admin/*.suo
website/admin/*.ntvs*
website/admin/*.njsproj
website/admin/*.sln
website/admin/*.sw?




#backend
website/backend/.env
website/backend/node_modules
